<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swing.githubloginsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".src.ui.GithubSDKActivity"
            android:exported="false"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with YOUR_SCHEME://YOUR_HOST -->
                <data
                    android:host="swing-452.firebaseapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
